<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172014218389-lma1muse4p9fga5sacglbibreoj3u18j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172014218389-lma1muse4p9fga5sacglbibreoj3u18j</string>
	<key>API_KEY</key>
	<string>AIzaSyAPUNd-A_e9CrpachFBIpyusDuvMTuGxow</string>
	<key>GCM_SENDER_ID</key>
	<string>172014218389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deffsin.GymUp</string>
	<key>PROJECT_ID</key>
	<string>gymup-8b0df</string>
	<key>STORAGE_BUCKET</key>
	<string>gymup-8b0df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172014218389:ios:4f9eebeedce84bfc1ebf9c</string>
</dict>
</plist>